<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastr.min.css")
    @Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
    @Scripts.Render("~/Scripts/toastr.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>Check out the <a href="https://docs.cpaas.dotdigital.com" target="_blank">Dotdigital CPaaS docs</a></p>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
